---
const today = new Date();
import { Icon } from "astro-icon";
---

<footer class="md:flex md:justify-between md:items-center md:align-center font-overpass-mono w-full md:h-full mt-12" >
  <div class="text-[12px] text-justify items-center flex justify-center">
    
  </div>
  <div class="flex justify-center gap-3 m-2 sm:m-0">

  </div>
  <slot />
</footer>
<script src="../scripts/rss.js"></script>